@model ParsianNews.Models.Report

<div class="box">
    <h6 class="position-relative ">
        <span class="Special-Line-Color position-relative bg-body"> ویژه خبری </span>
        <a class="more-report bg-body"> <i class="fas fa-bars ms-3"></i> همه اخبار </a>
    </h6>
</div>

<div class="col-12 col-md-4 mb-4 mt-2 body-plusfirst">
    <div class="shadow rounded">
        <div class="card overflow-hidden">
            <div class="">
                <a>
                <img src="/ReportImages/@Model.ReportImage" class="card-img-top w-100 card-img-plusfirst" title="@Model.ImageTitle" alt="@Model.ReportImageAlt">
                </a>
            </div>
            <div class="card-body bg-body-secondary overflow-hidden p-2 w-100 card-body-plusfirst">
                <a class="card-text-plusfirst">
                    <p class="card-text">
                        @Model.Title
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>