@page
@model ParsianNews.Pages.Admin.Hashtag.DeleteHashtagModel

@{
    ViewData["Title"] = "حذف"+" "+Model.Hashtag.HashtagName;
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>آیا از حذف "@Model.Hashtag.HashtagName" مطمئن هستید؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hashtag.HashtagName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hashtag.HashtagName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hashtag.HashtagId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index">انصراف</a>
    </form>
</div>
